name: Deploy

on:
  pull_request:

  push:
    branches:
    - main

    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

env:
  BINARY_NAME: rizwold
  TARGET: x86_64-unknown-linux-musl

jobs:
  test:
    name: cargo test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo fmt --check
      - run: cargo clippy --all-targets --no-default-features -- -D warnings
      - run: cargo clippy --all-targets --all-features -- -D warnings
      - run: cargo test --workspace --no-default-features
      - run: cargo test --workspace --all-features

  build-and-release:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{github.ref_name}}

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ env.TARGET }}
      - run: cargo fmt --check
      - run: cargo clippy --all-targets --no-default-features -- -D warnings
      - run: cargo clippy --all-targets --all-features -- -D warnings
      - run: cargo test --workspace --no-default-features
      - run: cargo test --workspace --all-features

      - name: Install cross
        run: cargo install cross

      - name: Build
        run: cross build --release --target ${{ env.TARGET }}

      - name: Package
        shell: bash
        run: |
          ASSET_NAME="${BINARY_NAME}-${TARGET}"
          cp "target/${TARGET}/release/${BINARY_NAME}" "$ASSET_NAME"
          echo "ASSET=$ASSET_NAME" >> "$GITHUB_ENV"

      - name: Create GitHub release
        uses: softprops/action-gh-release@v1
        with:
          name: Release ${{ github.ref_name }}
          tag_name: ${{ github.ref_name }}
          files: ${{ env.ASSET }}
